@charset "UTF-8";
    /* 상단 버튼 바 */
    .top-btn-bar {
        width: 100%;
        background: white;
        box-shadow: 0 0px 0px;
        padding: 18px 0 10px 0;
        display: flex;
        justify-content: space-between; /* 왼쪽-오른쪽 정렬 */
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .top-btn-bar .logo {
        margin-left: 50px;
        font-size: 3rem;
        color: darkorange;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;  /* 밑줄 제거 */
    }
    .top-btn-bar .btn-group {
        display: flex;
        align-items: center;
        margin-right: 32px;
    }
    .top-btn-bar button {
        margin: 0 10px;
        padding: 10px 28px;
        background: linear-gradient(90deg, #ffb347, #ff9800);
        color: #fff;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    }
    .top-btn-bar button:hover {
        background: linear-gradient(90deg, #ff9800, #ffb347);
    }
    .top-btn-bar .loginbtn {
        background: linear-gradient(90deg, #00c6ff, #0072ff);
    }
    .top-btn-bar .loginbtn:hover {
        background: linear-gradient(90deg, #0072ff, #00c6ff);
        
    }.top-btn-bar .logoutbtn {
        background: linear-gradient(90deg, #ff7373, #ff0000);
    }
    .top-btn-bar .logoutbtn:hover {
        background: linear-gradient(90deg, #ff0000, #ff7373);
    }
    .top-btn-bar .socialbtn {
        background: linear-gradient(90deg, #56ab2f, #a8e063);
    }
    .top-btn-bar .socialbtn:hover {
        background: linear-gradient(90deg, #a8e063, #56ab2f);
    }
    .top-btn-bar .socialbtn {
        background: linear-gradient(90deg, #56ab2f, #a8e063);
    }
    .top-btn-bar .socialbtn:hover {
        background: linear-gradient(90deg, #a8e063, #56ab2f);
    }