<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    
</head>
<body>
    <h1>메인 페이지</h1>
    <div>
        <!-- 로그인 안 했을 때 -->
        <button 
                th:if="${session.loginUser == null}"
                onclick="location.href='/todo/login'">로그인</button>
        <!-- 로그인 했을 때 -->
        <button 
                th:if="${session.loginUser != null}"
                onclick="location.href='/todo/userinfo'">정보보기</button>
        <button onclick="location.href='/todo/my_schedule'">내 일정</button>
        <button onclick="location.href='/todo/shared_schedule'">공유 일정</button>
        <button onclick="location.href='/todo/social'">소셜</button>
    </div>
    <!-- 로그아웃 버튼: 로그인 했을 때만 하단 중앙에 표시 -->
    <button 
            th:if="${session.loginUser != null}"
            onclick="location.href='/todo/logout'">로그아웃</button>
</body>
</html>
