<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공유 방 목록페이지</title>
</head>
<body>
<table border ='1'>
<tr><th>호스트</th><th>방이름</th><th>설명</th></tr>
<tr th:each="room : ${rooms}">
  <td th:text="${room.email}"></td>
  <td th:text="${room.roomname}"></td>
  <td th:text="${room.roomexp}"></td>
  <td>
<button type="button" th:onclick="|location.href='@{/todo/share_todo(roomname=${room.roomname})}'|">입장하기</button>

</td>
</tr>
</table>
<button onclick="location.href='/todo/create_room'">방만들기</button>
<button onclick="location.href='/todo/homepage'">메인으로</button>
</body>
</html>